[tool.poetry]
name = "literary"
version = "0.2.3"
description = "Literate package development with Jupyter"
readme = "README.md"
repository = "https://github.com/agoose77/literary"
authors = ["Angus Hollands <goosey15@gmail.com>"]
keywords = ["literate-programming", "notebook", "jupyter", "development"]

[tool.poetry.dependencies]
python = "^3.8"
nbconvert = "^6.0.7"
nbformat = { version = "^5.0.8", extras = ["fast"] }
traitlets = "^5.0.5"
astunparse = "^1.6.3"
Jinja2 = "^2.11.2"

[tool.poetry.dev-dependencies]

[tool.poetry.scripts]
literary-build = 'literary.build:run'

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
